*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-image: url(https://t3.ftcdn.net/jpg/05/13/59/72/360_F_513597277_YYqrogAmgRR9ohwTUnOM784zS9eYUcSk.jpg);
    background-size: cover;
    background-position: center;
}
header .container{
    height: 10vh;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;

}
.logo{
display: flex;
gap: 14px;
align-items: center;
}
.logo img{
    height: 35px;
    width: 30px;
}
.logo p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: 550;
    cursor: default;
}
header{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    background: transparent;
}
a{
    text-decoration: none;
    color: aliceblue;
}
nav{
display: flex;
justify-content: space-between;
align-items: center;
padding: 14px;

}
.main{
    width: 100%;
    height: 90vh;
    position: absolute;
}
.main img{
    display: block;
    margin: auto;
    height: 100%;
    filter: drop-shadow(15px 15px 35px rgba(0, 0, 0, 0.838) );
}
.content{
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;

}
.content .container{
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: auto;
    height: 100%;
}
.todo{
    display: flex;
    padding: 14px;
    cursor: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgcV4Nvwu4IARJRl3HjNMf7j2y5iUow4dgqw&s)6 19,auto;

}
.todo1{
    cursor: inherit;
    background: transparent;
    border: none;
    outline: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight: bold;
    flex-grow: 1;
    border-bottom: 2px solid black;


}
.todo2{
    cursor: inherit;
}
.todo:has(.todo2:checked){
    color: rgb(120, 14, 14);
    background: rgba(0, 0, 0, 0.088);
    text-decoration: line-through 1.5px;
}